<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<script src="../asset/js/doctorlogin.js"></script>
</head>
<body>
    <center>
	<h1>Doctor Login</h1>
	<h2>Doctors can login here</h2>
	<hr>
	<form name="infoForm" action="../controller/doctorLogin.php"  method="post" onsubmit="return validateForm()">
		Username: <input type="text" name="username" id="username">
		<p id="usernameER"></p>
		<br><br>
		Password: <input type="password" name="password" id="password">
		<p id="passwordER"></p>
		<br><br>
		<br><br>	
		<input type="submit" name="submit" value="Login">
		<br><br>
		<a href="./doctorregistration.html"> <b>Click here</b></a> for new registration 
	</form>
	<br>
</body>
</html>